<%- include('../include/header')%>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</head>

    <body>
        <% if ( user != null ) { %>
            <%- include('../include/nav')%>
            <%- include('./main_user')%>
        <% } else { %>
            <%- include('../include/nav_default')%>
            <%- include('./main_none')%>
        <% } %>
    </body>
</html>